.mainContent {
    width: 100%;
    display: flex;
}

.sidebar {
    width: 250px;
    border-right: 1px solid #ccc;
}
.questionNo{
    display: grid;
    grid-template-columns: auto auto auto;
}
.number{
    padding: 10px;
    background-color: #00194e;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    margin: 5px;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.number.active{
    background-color: rgb(0, 206, 79);
    cursor: default;
}
.question{
    margin-bottom: 40px;
}
.options li{
    padding: 10px;
    background-color: #00194e;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    margin: 10px 5px;
    cursor: pointer;
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.content {
    width: calc(100% - 250px);
}

li:hover {
    background-color: #772139;
    color: white;
}

li.correct {
    background-color: rgb(53, 212, 53);
}

.number.visited{
    background-color: rgb(0, 110, 255);
}

li.selected:not(correct) {
    background-color: rgb(206, 58, 58);
}

@media screen and (max-width:991px) {
    .mainContent{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        border-right:none;
        border-bottom: 1px solid #fff;
    }
    .content{
        width: 100%;
    }
    .questionNo {
        display: flex;
        overflow-x: auto;
    }
    .number {
        padding: 10px 20px;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .timer {
        width: 64px;
        height: 64px;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}